In [8]:
# loops in python

range(10)

range(0, 10)

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(4, 20, 2): # range(start, end, step) defalt step_size is 1
  print(i)

4
6
8
10
12
14
16
18

In [21]:
for i in range(20, 1, -2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [23]:
str = 'Hello World!'

for i in str:
  print(i)

H
e
l
l
o

W
o
r
l
d
!

In [26]:
count = 0
while count < 5:
  print(count)
  count += 1 # OR count = count + 1

0
1
2
3
4

In [29]:
# Loop control statement
# break

for i in range(20):
  if i == 8:
    break
  print(i)

0
1
2
3
4
5
6
7

In [35]:
# continue

for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [37]:
# pass
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
# Nested loop in
# A loop inside a loop

for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [39]:
# Calculate the sum of first N natural numbers using a while and for loop

In [45]:
# using a while loop

n=10;sum=0;count=1
while count <= n:
  sum += count
  count += 1
print('Sum of first 10 natural number: ',sum)

Sum of first 10 natural number:  55

In [48]:
# using a for loop
n = 10
sum = 0
for i in range(11):
  sum += i
print('Sum of first 10 natural number: ',sum)

Sum of first 10 natural number:  55